block footer
  div.row
    div.col-md-12
      hr
      p
        | Built with 
        span.glyphicon.glyphicon-heart
        |  in 
        a(href="https://www.zenpics.net/album/5358a16533cb3aae749d9774") Banjarpalya
        | . View 
        a(href="https://github.com/ansal/chotibaatein") source
        |.