extends base

block app
  div.row
    div.col-md-12
      p.pull-right
        small
          | Hi, you are subscribed to 4 
          a(href="#") chat rooms.

  // chat rooms
  div.row
    div.col-md-3
      div.panel.panel-primary
        div.panel-heading
          h3.panel-title Rooms
        div.panel-body.scrollBarMessages
          div
            ul.nav.nav-pills.nav-stacked#chatRooms

    div.col-md-6
      div.panel.panel-primary
        div.panel-heading
          h3.panel-title#chatMessageTitle Messages
        div.panel-body.scrollBarMessages#chatWindow
            div#chatMessages
              p
                | Click on any Rooms on the left to join a Room!

            div.newChatArea#newChatArea(style="display:none;")
              textarea.form-control#newChatMessage(placeholder="Type your message and press Enter!", rows=2)
              p.pull-right
                br
                button.btn.btn-primary#newChatMessageButton
                  span.glyphicon.glyphicon-envelope
                  |  Send Message
                | 
                button.btn.btn-success
                  span.glyphicon.glyphicon-cloud-upload
                  |  Upload File

    div.col-md-3
      div.col-md-12
        div.panel.panel-primary
          div.panel-heading
            h3.panel-title People
          div.panel-body.scrollBarPeople
            h6
              span.text-success 12 
              | people online!

            ul.list-group
              li.list-group-item.list-group-item-success Person 1
              li.list-group-item.list-group-item-warning Person 2 Person
              li.list-group-item.list-group-item-success Person 1
              li.list-group-item.list-group-item-success Person 2 Person
              li.list-group-item.list-group-item-warning Person 1
              li.list-group-item.list-group-item-success Person 1
              li.list-group-item.list-group-item-success Person 2 Person
              li.list-group-item.list-group-item-warning Person 2 Person
      div.col-md-12
        div.panel.panel-primary
          div.panel-heading
            h3.panel-title Files
          div.panel-body.scrollBarPeople
            ul.list-group
              li.list-group-item.list-group-item-default
                a(href="#") Img.jpg
                br
                small.text-muted Person 1 on 14, Jan 2014 4.30PM

              li.list-group-item.list-group-item-default
                a(href="#") Img.jpg
                br
                small.text-muted Person 1 on 14, Jan 2014 4.30PM

              li.list-group-item.list-group-item-default
                a(href="#") Img.jpg
                br
                small.text-muted Person 1 on 14, Jan 2014 4.30PM

              li.list-group-item.list-group-item-default
                a(href="#") Img.jpg
                br
                small.text-muted Person 1 on 14, Jan 2014 4.30PM

              li.list-group-item.list-group-item-default
                a(href="#") Img.jpg
                br
                small.text-muted Person 1 on 14, Jan 2014 4.30PM

  block templates
    script#roomTemplate(type="text/template")
      a.chatRoomLink(href="#", data-room!="<%= _id %>") <%= name %> 
        span(style="display:none").badge 0

    script#chatMessageTemplate(type="text/template")
      div.well.well-sm
        |  <%= message  %>
        hr
        img.img-circle(src!="<%= user.avatar %>?sz=25")
        small.text-muted
          em  <%= user.name %> on <%= new Date(sent).toDateString()  %>, <%= new Date(sent).toTimeString() %>

    script#loadingMessage(type="text/template")
      p
        | Loading.. Please Wait 
        img(src="/assets/img/loading.gif")


block javascripts
  // javascript libraries
  script(src="/assets/javascripts/lib/jquery.min.js")
  script(src="/assets/javascripts/lib/bootstrap.min.js")
  script(src="/assets/javascripts/lib/underscore.min.js")
  script(src="/assets/javascripts/lib/backbone-min.js")
  script(src="/socket.io/socket.io.js")

  // backbone app
  script(src="/assets/app/chatroom/models.js")
  script(src="/assets/app/chatroom/collections.js")
  script(src="/assets/app/chatroom/views.js")
  script(src="/assets/app/chatroom/app.js")

  // for bootstrapping backbone models
  script
    | app.Rooms.reset(
    != ownedRooms
    |);
    | app.User = 
    !=user
    |;