extends base

block app
  // chat rooms
  div.row
    div.col-md-12
      p.pull-right
        button.btn.btn-xs.btn-inverse#chatRoomShowButton(style="display:none;")
          span.glyphicon.glyphicon-chevron-up Rooms
        |  
        button.btn.btn-xs.btn-inverse#peopleFileShowButton(style="display:none;")
          span.glyphicon.glyphicon-chevron-up Users
  div.row
    div.col-md-3#chatRoomCol
      div.panel.panel-primary
        div.panel-heading
          h3.panel-title Rooms
            small.pull-right
              button.btn.btn-xs.btn.default#chatRoomHideButton
                span.glyphicon.glyphicon-chevron-down
        div.panel-body.scrollBarMessages
          div
            ul.nav.nav-pills.nav-stacked#chatRooms

    div.col-md-6#chatMessageCol
      div.panel.panel-primary
        div.panel-heading
          h3.panel-title#chatMessageTitle Messages
        div.panel-body.scrollBarMessages#chatWindow
            div#chatMessages
              p
                | Click on any Rooms on the left to join a Room!

            div.newChatArea#newChatArea(style="display:none;")
              textarea.form-control#newChatMessage(placeholder="Type your message and press Enter!", rows=2)
              p
                div.col-md-4
                  button.btn.btn-primary#newChatMessageButton
                    span.glyphicon.glyphicon-envelope
                    |  Send Message

              p
                hr
                div.col-md-4
                  input#selectedFile(type="file")
                div.col-md-4
                  button.btn.btn-success.btn-xs#fileUploadButton
                    span.glyphicon.glyphicon-cloud-upload
                    |  Upload File

    div.col-md-3#peopleFileCol
      div.col-md-12
        div.panel.panel-primary
          div.panel-heading
            h3.panel-title People
              small.pull-right
                button.btn.btn-xs.btn.default#peopleFileHideButton
                  span.glyphicon.glyphicon-chevron-down
          div.panel-body.scrollBarPeople
            ul.list-group#peopleList

      div.col-md-12
        div.panel.panel-primary
          div.panel-heading
            h3.panel-title Files
          div.panel-body.scrollBarPeople#fileWindow
            ul.list-group#fileList

  block templates

    script#roomTemplate(type="text/template")
      a.chatRoomLink(href="#", data-room!="<%= _id %>") <%= name %> 
        span(style="display:none").badge 0

    script#peopleTemplate(type="text/template")
      <% _.each(onlineUsers, function(user, index){ %>
      li.list-group-item.list-group(data-user-id!="<%= user.id %>") <%= user.name %>
      <% }); %>

    script#chatMessageTemplate(type="text/template")
      div.well.well-sm
        |  <%= message  %>
        hr
        img.img-circle(src!="<%= user.avatar %>?sz=25")
        small.text-muted
          em  <%= user.name %> on <%= new Date(sent).toDateString()  %>, <%= new Date(sent).toTimeString() %>

    script#loadingMessage(type="text/template")
      p
        | Loading.. Please Wait 
        img(src="/assets/img/loading.gif")

    script#fileTemplate(type="text/template")
      li.list-group-item.list-group-item-default
        a(href!="/app/getfile/<%= _id %>", target="_blank") <%= title %>
        br
        small.text-muted <%= user.name %> on <%= new Date(uploaded).toDateString()  %>, <%= new Date(uploaded).toTimeString() %>

  // for activation page links in the navigation bar
  div(style="display:none;")
    input#pageName(type="hidden", value="chatRoomsPage")

block javascripts
  // javascript libraries
  script(src="/assets/javascripts/lib/jquery.min.js")
  script(src="/assets/javascripts/lib/bootstrap.min.js")
  script(src="/assets/javascripts/lib/underscore.min.js")
  script(src="/assets/javascripts/lib/backbone-min.js")
  script(src="/socket.io/socket.io.js")

  // backbone app
  script(src="/assets/app/chatroom/models.js")
  script(src="/assets/app/chatroom/collections.js")
  script(src="/assets/app/chatroom/views.js")
  script(src="/assets/app/chatroom/app.js")

  // for bootstrapping backbone models
  script
    | app.Rooms.reset(
    != ownedRooms
    |);
    | app.User = 
    !=user
    |;